__pycache__/
.directory
.DS_Store
.env
.env.*
.eslintcache
.idea/
.prettiercache
.tmp/
.venv/
.vscode/
*.bak
*.crt
*.key
*.log
*.mo
*.orig
*.pem
*.pid
*.py[cod]
*.rej
*.sock
*.swo
*.swp
*.tar.gz
*.tar.xz
*.tgz
*.tmp
*.zip
*~
AGENTS.md
build/
dist/
ehthumbs.db
ext/locale/
gschemas.compiled
logs/
node_modules/
npm-debug.log*
pnpm-debug.log*
Thumbs.db
tmp/
venv/
yarn-debug.log*
yarn-error.log*
